{% extends "flask_user_layout.html" %}

{% block content %}
<head>
  <style>
  table, th, td {
    border: 3px solid black;
    text-align:center;
    padding: 5px;
  }
  </style>
  </head>
<body>
<table>
  <caption>Repositories [<a href={{ url_for('webhook_addrepo') }}>Add Repository</a>]</caption>
  <tr>
    <th>Repository</th>
    <th>Email Archive Address</th>
    <th>Send Email</th>
    <th>Action</th>
    <th>Action</th>
  </tr>
  {% for webhookconfiguration in webhookconfigurations %}
    <tr>
      <td>
        <a href="/config/logsrepo/{{ webhookconfiguration.id }}">
          {{ webhookconfiguration.GithubOrgName }}/{{ webhookconfiguration.GithubRepoName }}
        </a>
      </td>
      <td>{{ webhookconfiguration.EmailArchiveAddress }}</td>
      <td>{{ webhookconfiguration.SendEmail }}</td>
      <td>
        <form method="get" action="/config/updaterepo/{{ webhookconfiguration.id }}">
          <input type="submit" value="Settings" name="settings"/>
        </form>
      </td>
      <td>
        <form method="post" action="/config/deleterepo/{{ webhookconfiguration.id }}" onSubmit="return confirm('Are you sure you wish to delete {{ webhookconfiguration.GithubOrgName }}/{{ webhookconfiguration.GithubRepoName }}?');">
          <input type="submit" value="Delete" name="delete"/>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
</body>
{% endblock %}
