{% extends "flask_user_layout.html" %}

{% block content %}
<a href={{ url_for('webhook_repos') }}>Repositories</a>
<td>
  <form method="post" action="/config/clearlogrepo/{{ webhookconfiguration.id }}" onSubmit="return confirm('Are you sure you wish to clear log {{ webhookconfiguration.GithubOrgName }}/{{ webhookconfiguration.GithubRepoName }}?');">
    <input type="submit" value="Clear Log" name="clearlog"/>
  </form>
</td>
<div class="row">
  <div class="column" style="width: 25%; float:left;">
    <head>
      <style>
      table, th, td {
        border: 3px solid black;
        text-align:center;
        padding: 5px;
      }
      </style>
    </head>
    <body>
    <table>
      <caption>{{ webhookconfiguration.GithubOrgName }}/{{ webhookconfiguration.GithubRepoName}}</caption>
      <tr>
        <th>id</th>
        <th>Date</th>
        <th>Time</th>
        <th>Type</th>
      </tr>
      {% for log in logs %}
        <tr>
          <td><a href="/config/logsrepo/{{ webhookconfiguration.id }}/{{log.id}}">{{ log.id }}</a></td>
          <td>{{ log.TimeStamp.date() }}</td>
          <td>{{ log.TimeStamp.time() }}</td>
          <td>{{ log.Type.name }}</td>
        </tr>
      {% endfor %}
    </table>
    </body>
  </div>
  <div class="column" style="width: 75%; float:right;">
    <textarea wrap="off" cols="80" rows="{{rows}}" style="border: 3px solid grey;">{{ text }}</textarea>
  </div>
</div>
{% endblock %}
