{% extends "flask_user_layout.html" %}

{% block content %}
<head>
  <style>
  table, th, td {
    border: 3px solid black;
    text-align:center;
    padding: 5px;
  }
  </style>
  <meta http-equiv="refresh" content="5">
</head>
<body>
  <form method="post" action="/config/resetstatistics" onSubmit="return confirm('Are you sure you wish to reset statistics?');">
    <input type="submit" value="Reset Statistics" name="resetstatistics"/>
  </form>

  <table>
    <caption>Service</caption>
    <tr>
      <td>Upgrades</td>
      <td>Last Upgrade</td>
      <td>Restarts</td>
      <td>Up Time</td>
    </tr>
    <tr>
      <td>{{ NumberOfUpgrades }}</td>
      <td>{{ LastUpgradeTime }}</td>
      <td>{{ NumberOfRestarts }}</td>
      <td>{{ ServiceUpTime }}</td>
    </tr>
  </table>

  <table>
    <caption>Github Requests</caption>
    <tr>
      <td>Requests</td>
      <td>Queued</td>
      <td>Processed</td>
    </tr>
    <tr>
      <td>{{ GitHubRequestsReceived }}</td>
      <td>{{ GitHubRequestsQueued }}</td>
      <td>{{ GitHubRequestsProcessed }}</td>
    </tr>
  </table>

  <table>
    <caption>Emails</caption>
    <tr>
      <td>Sent</td>
      <td>Failed</td>
      <td>Queue Depth</td>
    </tr>
    <tr>
      <td>{{ EmailsSent }}</td>
      <td>{{ EmailsFailed }}</td>
      <td>{{ EmailQueueDepth }}</td>
    </tr>
  </table>

  <table>
  <caption>Repositories [<a href={{ url_for('webhook_addrepo') }}>Add Repository</a>]</caption>
  <tr>
    <th>Repository</th>
    <th>Email Archive Address</th>
    <th>Send Email</th>
    <th>Queue Depth</th>
    <th>Action</th>
    <th>Action</th>
  </tr>
  {% for webhookconfiguration in webhookconfigurations %}
    <tr>
      <td>
        <a href="/config/logsrepo/{{ webhookconfiguration.id }}">
          {{ webhookconfiguration.GithubRepo }}
        </a>
      </td>
      <td>{{ webhookconfiguration.EmailArchiveAddress }}</td>
      <td>{{ webhookconfiguration.SendEmail }}</td>
      <td>{{ webhookconfiguration.QueueDepth }}</td>
      <td>
        <form method="get" action="/config/updaterepo/{{ webhookconfiguration.id }}">
          <input type="submit" value="Settings" name="settings"/>
        </form>
      </td>
      <td>
        <form method="post" action="/config/deleterepo/{{ webhookconfiguration.id }}" onSubmit="return confirm('Are you sure you wish to delete {{ webhookconfiguration.GithubRepo }}?');">
          <input type="submit" value="Delete" name="delete"/>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
</body>
{% endblock %}
