{% extends "flask_user_layout.html" %}

{% block content %}
<head>
  <style>
  table, th, td {
    border: 3px solid black;
    text-align:center;
    padding: 5px;
  }
  </style>
  <meta http-equiv="refresh" content="5">
</head>
<body>
  <table>
    <caption>Service</caption>
    <tr>
      <th>Upgrades</th>
      <th>Last Upgrade</th>
      <th>Restarts</th>
      <th>Up Time</th>
    </tr>
    <tr>
      <td>{{ NumberOfUpgrades }}</td>
      <td>{{ LastUpgradeTime }}</td>
      <td>{{ NumberOfRestarts }}</td>
      <td>{{ ServiceUpTime }}</td>
    </tr>
  </table>

  <table>
    <caption>Github Requests</caption>
    <tr>
      <th>GitHub<br />Requests</th>
      <th>GitHub<br />Queued</th>
      <th>GitHub<br />Processed</th>
      <th>GitHub<br />Queue Depth</th>
      <th>Email<br />Sent</th>
      <th>Email<br />Failed</th>
      <th>Email<br />Queue Depth</th>
    </tr>
    <tr>
      <td>{{ AllReceived }}</td>
      <td>{{ AllQueued }}</td>
      <td>{{ AllProcessed }}</td>
      <td>{{ AllQueueDepth }}</td>
      <td>{{ AllEmailsSent }}</td>
      <td>{{ AllEmailsFailed }}</td>
      <td>{{ EmailQueueDepth }}</td>
    </tr>
  </table>

  <table>
  <caption>Repositories [<a href={{ url_for('webhook_addrepo') }}>Add Repository</a>]</caption>
  <tr>
    <th>Repository</th>
    <th>Email Archive<br />Address</th>
    <th>Send<br />Email</th>
    <th>GitHub<br />Requests</th>
    <th>GitHub<br />Queued</th>
    <th>GitHub<br />Processed</th>
    <th>GitHub<br />Queue Depth</th>
    <th>Emails<br />Sent</th>
    <th>Emails<br />Failed</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
  </tr>
  {% for webhookconfiguration in webhookconfigurations %}
    <tr>
      <td>
        <a href="/config/logsrepo/{{ webhookconfiguration.id }}">
          {{ webhookconfiguration.GithubRepo }}
        </a>
      </td>
      <td>{{ webhookconfiguration.EmailArchiveAddress }}</td>
      <td>{{ webhookconfiguration.SendEmail }}</td>
      <td>{{ webhookconfiguration.GitHubRequestsReceived }}</td>
      <td>{{ webhookconfiguration.GitHubRequestsQueued }}</td>
      <td>{{ webhookconfiguration.GitHubRequestsProcessed }}</td>
      <td>{{ webhookconfiguration.QueueDepth }}</td>
      <td>{{ webhookconfiguration.EmailsSent }}</td>
      <td>{{ webhookconfiguration.EmailsFailed }}</td>
      <td>
        <form method="post" action="/config/resetrepo/{{ webhookconfiguration.id }}">
          <button>Reset<br/>Statistics</button>
        </form>
      </td>
      <td>
        <form method="get" action="/config/updaterepo/{{ webhookconfiguration.id }}">
          <button>Settings</button>
        </form>
      </td>
      <td>
        <form method="post" action="/config/deleterepo/{{ webhookconfiguration.id }}" onSubmit="return confirm('Are you sure you wish to delete {{ webhookconfiguration.GithubRepo }}?');">
          <button>Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
</body>
{% endblock %}
